In [1]:
import pandas as pd

policy_spread = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/policy sheet/policy sheet.xlsx')

In [2]:
policy_spread_1 = pd.melt(policy_spread, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='RGGI Adopt')

In [88]:
print(merged_df_3)

       State  Year  Per Capita energy related emissions  \
0    Alabama  2000                            32.097687
1    Alabama  2001                            30.044993
2    Alabama  2002                            31.078369
3    Alabama  2003                            31.146559
4    Alabama  2004                            31.462079
..       ...   ...                                  ...
964  Wyoming  2014                           112.744258
965  Wyoming  2015                           108.894718
966  Wyoming  2016                           104.380515
967  Wyoming  2017                           107.845353
968  Wyoming  2018                           109.913935

     Carbon Intensity of energy supply  Carbon emissions adjusted  \
0                            58.980063                 143.449839
1                            58.595615                 134.985163
2                            58.387879                 140.003374
3                            58.176501                 140.866652
4                            57.504820                 143.567133
..                                 ...                        ...
964                          76.445675                  65.724561
965                          77.261528                  63.810667
966                          76.070089                  60.965014
967                          75.180745                  62.358653
968                          75.131093                  63.442856

     Carbon Intensity Economy  Population
0                  783.255236     4452173
1                  707.835028     4467634
2                  709.996611     4480089
3                  687.646242     4503491
4                  675.106584     4530729
..                        ...         ...
964               1058.772596      582531
965                981.994022      585613
966               1008.689381      584215
967               1061.552122      578931
968               1082.639053      577601

[969 rows x 7 columns]

In [8]:
policy_spread_2 = policy_spread_1.sort_values(by=['State','Year'])

In [9]:
policy_spread_2[['delete this', 'State']] = policy_spread_2['State'].str.split('.', 1, expand=True)

In [12]:
policy_spread_2.drop('delete this', axis=1, inplace=True)

In [14]:
policy_spread_2.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/policy_spread_2.xlsx', index = False)

In [24]:
pop_1 = pd.read_excel (r'//Users/sarahsiddiqui/Desktop/classes/529/project/population/nst-est2019-01.xlsx')

Importing column names as columns and Removing the first row

In [25]:
pop_1.columns = pop_1.iloc[0]

In [26]:
pop_1 = pop_1.iloc[1: , :]

In [42]:
pop_1[['delete this', 'State']] = pop_1['State'].str.split('.', 1, expand=True)

In [43]:
pop_1.drop('delete this', axis=1, inplace=True)

In [28]:
pop_3 = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/population/st-est00int-01.xls')

In [38]:
pop_3[['delete this', 'State']] = pop_3['State'].str.split('.', 1, expand=True)

In [39]:
pop_3.drop('delete this', axis=1, inplace=True)

Merging both population data sets

In [52]:
merged_pop = pop_3.merge(pop_1,left_on='State',right_on='State',how='outer')

In [57]:
merged_pop.drop(2019, axis=1, inplace=True)

In [58]:
merged_population_2 = pd.melt(merged_pop, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='Population')

In [59]:
merged_pop_2 =  merged_population_2.sort_values(by=['State','Year'])

In [60]:
population = merged_pop_2.reset_index(drop=True)

In [62]:
population.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/population/populationdata.xlsx', index = False)

In [63]:
carinten_economy = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/untitled folder/Carbon intensity of the economy by state.xlsx')

In [64]:
 carinten_economy = carinten_economy.iloc[:51 , :]

In [65]:
inten_economy = pd.melt( carinten_economy, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='Carbon Intensity Economy')

In [66]:
inten_economy =  inten_economy.sort_values(by=['State','Year'])

In [67]:
inten_economy.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/carbon intensity economy.xlsx', index = False)

In [68]:
 per_capita = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/untitled folder/Per capita energy-related carbon dioxide emissions by state.xlsx')

In [70]:
per_capita = per_capita.iloc[:51 , :]

In [71]:
per_capita = pd.melt( per_capita, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='Per Capita energy related emissions')

In [72]:
per_capita =  per_capita.sort_values(by=['State','Year'])

In [74]:
per_capita.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/per capita.xlsx', index = False)

In [75]:
 carbon_year_adjusted = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/untitled folder/State energy-related carbon dioxide emissions by year, adjusted.xlsx')

In [76]:
carbon_year_adjusted = pd.melt( carbon_year_adjusted, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='Carbon emissions adjusted')

In [77]:
carbon_year_adjusted = carbon_year_adjusted.sort_values(by=['State','Year'])

In [78]:
 carbon_year_adjusted.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/carbon_year_adjusted.xlsx', index = False)

In [80]:
 carbon_inten_state = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/untitled folder/Carbon intensity of the energy supply by state.xlsx')

In [81]:
carbon_inten_state = carbon_inten_state.iloc[:51, :]

In [82]:
carbon_inten_state = pd.melt( carbon_inten_state, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='Carbon Intensity of energy supply') 
carbon_inten_state = carbon_inten_state.sort_values(by=['State','Year'])

In [83]:
carbon_inten_state.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/carbon_inten_state.xlsx', index = False)

In [84]:
merged_df = per_capita.merge(carbon_inten_state, how = 'inner', on = ['State', 'Year'])

In [85]:
merged_df_1 =  merged_df.merge(carbon_year_adjusted, how = 'inner', on = ['State', 'Year'])

In [86]:
merged_df_2 = merged_df_1.merge(inten_economy, how = 'inner', on = ['State', 'Year'])

In [87]:
merged_df_3 = merged_df_2.merge(population, how = 'inner', on = ['State', 'Year'])

In [89]:
merged_df_4 = merged_df_3.merge(policy_spread_2, how = 'inner', on = ['State', 'Year'])

In [90]:
merged_df_4

,State,Year,Per Capita energy related emissions,Carbon Intensity of energy supply,Carbon emissions adjusted,Carbon Intensity Economy,Population,RGGI Adopt
0,Alabama,2000,32.097687,58.980063,143.449839,783.255236,4452173,0
1,Alabama,2001,30.044993,58.595615,134.985163,707.835028,4467634,0
2,Alabama,2002,31.078369,58.387879,140.003374,709.996611,4480089,0
3,Alabama,2003,31.146559,58.176501,140.866652,687.646242,4503491,0
4,Alabama,2004,31.462079,57.504820,143.567133,675.106584,4530729,0
...,...,...,...,...,...,...,...,...
964,Wyoming,2014,112.744258,76.445675,65.724561,1058.772596,582531,0
965,Wyoming,2015,108.894718,77.261528,63.810667,981.994022,585613,0
966,Wyoming,2016,104.380515,76.070089,60.965014,1008.689381,584215,0
967,Wyoming,2017,107.845353,75.180745,62.358653,1061.552122,578931,0
968,Wyoming,2018,109.913935,75.131093,63.442856,1082.639053,577601,0

In [91]:
merged_df_4.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/mergedfilefinal_1.xlsx', index = False)