In [1]:
import pandas as pd

In [2]:
eventstudy = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/policy sheet/event study.xlsx')

In [3]:
eventstudy = pd.melt(eventstudy, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='eventstudy')

In [4]:
eventstudy = eventstudy.sort_values(by=['State','Year'])

Remove "." before each state name

In [5]:
eventstudy['State'] = eventstudy['State'].str.split('.', n=1).str.get(-1)

In [6]:
eventstudy.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/event_study.xlsx', index = False)

In [7]:
eventstudy

       State  Year  eventstudy
0    Alabama  2000           0
51   Alabama  2001           0
102  Alabama  2002           0
153  Alabama  2003           0
204  Alabama  2004           0
..       ...   ...         ...
764  Wyoming  2014           0
815  Wyoming  2015           0
866  Wyoming  2016           0
917  Wyoming  2017           0
968  Wyoming  2018           0

[969 rows x 3 columns]