In [1]:
import pandas as pd

In [2]:
 transport = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/untitled folder/sectoral/transportation.xlsx')

In [5]:
transport = pd.melt(transport, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='Transport CO2 emissions')

In [7]:
transport = transport.sort_values(by=['State','Year'])

In [28]:
residential = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/untitled folder/sectoral/residential.xlsx')

In [30]:
residential = pd.melt(residential, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='Residential CO2 emissions')

In [31]:
residential = residential.sort_values(by=['State','Year'])

In [33]:
industrial = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/untitled folder/sectoral/industrial.xlsx')

In [34]:
industrial = pd.melt(industrial, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='Industrial CO2 emissions')

In [35]:
industrial = industrial.sort_values(by=['State','Year'])

In [42]:
commercial = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/untitled folder/sectoral/commercial.xlsx')

In [43]:
commercial = pd.melt(commercial, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='commercial CO2 emissions')

In [44]:
commercial = commercial.sort_values(by=['State','Year'])

In [47]:
merge_1 =  residential.merge(commercial, how = 'inner', on = ['State', 'Year'])

In [49]:
merge_2 = merge_1.merge(industrial, how = 'inner', on = ['State', 'Year'])

In [50]:
merge_3 = merge_2.merge(transport, how = 'inner', on = ['State', 'Year'])

In [51]:
merge_3

,State,Year,Residential CO2 emissions,commercial CO2 emissions,Industrial CO2 emissions,Transport CO2 emissions
0,Alabama,2000,3.7,2.3,26.2,33.4
1,Alabama,2001,3.5,2.2,22.7,31.3
2,Alabama,2002,3.3,2.0,22.4,33.3
3,Alabama,2003,3.1,2.1,23.7,32.3
4,Alabama,2004,3.0,2.2,24.0,34.8
...,...,...,...,...,...,...
964,Wyoming,2014,0.9,1.1,12.0,8.0
965,Wyoming,2015,0.8,1.1,10.5,7.6
966,Wyoming,2016,0.9,1.1,10.7,7.6
967,Wyoming,2017,0.9,1.0,12.1,7.6
968,Wyoming,2018,1.0,1.0,13.2,7.9

In [52]:
residential.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/residential.xlsx', index = False)
industrial.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/industrial.xlsx', index = False)
transport.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/transport.xlsx', index = False)
commercial.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/commercial.xlsx', index = False)

In [53]:
merge_3.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/sector merge.xlsx', index = False)

In [57]:
merge_4 = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/mergedfilefinal.xlsx')

In [58]:
merge_5 = merge_3.merge(merge_4, how = 'inner', on = ['State', 'Year'])

In [61]:
merge_5.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/alldatamerge.xlsx', index = False)