In [1]:
import pandas as pd

In [2]:
temp_data = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/state avg monthly temp data.xlsx')

In [4]:
import numpy as np

In [44]:
temp_data

         State  mean_monthly  Year  Month
0      Alabama          46.5  2000      1
1      Alabama          52.3  2000      2
2      Alabama          58.9  2000      3
3      Alabama          60.1  2000      4
4      Alabama          74.0  2000      5
...        ...           ...   ...    ...
10939  Wyoming          63.6  2018      8
10940  Wyoming          57.2  2018      9
10941  Wyoming          41.0  2018     10
10942  Wyoming          28.6  2018     11
10943  Wyoming          21.5  2018     12

[10944 rows x 4 columns]

In [9]:
temp_data['year_month'] = temp_data['Date (YYYYMM)'].astype(str)

In [11]:
temp_data['Year'] = temp_data['year_month'].str[0:4]
temp_data['Month'] = temp_data['year_month'].str[4:6]

In [14]:
temp_data.drop('Date (YYYYMM)', axis=1, inplace=True)

In [16]:
temp_data.drop('year_month', axis=1, inplace=True)

In [19]:
temp_data['Year'] = temp_data['Year'].astype(int)

In [20]:
temp_data['Month'] = temp_data['Month'].astype(int)

In [23]:
temp_data.drop( temp_data[ temp_data['Year'] < 2000 ].index , inplace=True)

In [25]:
temp_data.drop( temp_data[ temp_data['Year'] > 2018 ].index , inplace=True)

In [61]:
temp_data = temp_data.reset_index(drop=True)

In [62]:
temp_data = temp_data.rename(columns={"Mean Monthly Temperature": "mean_monthly"})

In [63]:
temp_data_avg = temp_data.groupby(['State', 'Year']).agg({'mean_monthly': ['mean']}).reset_index()

In [64]:
temp_data_avg = temp_data_avg.rename(columns={"mean_monthly" : "avg_temp"})

In [66]:
print(temp_data_avg)

       State  Year   avg_temp
                         mean
0    Alabama  2000  63.566667
1    Alabama  2001  63.033333
2    Alabama  2002  63.575000
3    Alabama  2003  62.733333
4    Alabama  2004  63.333333
..       ...   ...        ...
907  Wyoming  2014  42.125000
908  Wyoming  2015  44.158333
909  Wyoming  2016  43.908333
910  Wyoming  2017  43.200000
911  Wyoming  2018  42.408333

[912 rows x 3 columns]

In [71]:
dc_temp = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/DC temperature data.xlsx')

In [74]:
dc_temp['year_month'] = dc_temp['Date'].astype(str)

In [76]:
dc_temp['Year'] = dc_temp['year_month'].str[0:4]
dc_temp['Month'] = dc_temp['year_month'].str[4:6]

In [78]:
dc_temp.drop('Date', axis=1, inplace=True)

In [79]:
dc_temp.drop('year_month', axis=1, inplace=True)

In [81]:
dc_temp['Year'] = dc_temp['Year'].astype(int)

In [82]:
dc_temp['Month'] = dc_temp['Month'].astype(int)

In [83]:
dc_temp.drop( dc_temp[ dc_temp['Year'] < 2000 ].index , inplace=True)

In [84]:
dc_temp.drop( dc_temp[ dc_temp['Year'] > 2018 ].index , inplace=True)

In [85]:
dc_temp = dc_temp.reset_index(drop=True)

In [87]:
dc_temp_avg = dc_temp.groupby(['State', 'Year']).agg({'Value': ['mean']}).reset_index()

In [91]:
dc_temp_avg = dc_temp_avg.rename(columns={"Value": "avg_temp"})

In [92]:
dc_temp_avg

                   State  Year   avg_temp
                                     mean
0   District of Columbia  2000  53.966667
1   District of Columbia  2001  55.391667
2   District of Columbia  2002  56.066667
3   District of Columbia  2003  53.750000
4   District of Columbia  2004  55.133333
5   District of Columbia  2005  55.375000
6   District of Columbia  2006  56.616667
7   District of Columbia  2007  56.416667
8   District of Columbia  2008  55.341667
9   District of Columbia  2009  55.291667
10  District of Columbia  2010  56.283333
11  District of Columbia  2011  56.900000
12  District of Columbia  2012  57.858333
13  District of Columbia  2013  55.416667
14  District of Columbia  2014  53.050000
15  District of Columbia  2015  55.708333
16  District of Columbia  2016  57.133333
17  District of Columbia  2017  57.216667
18  District of Columbia  2018  56.241667

In [127]:
avgtemp = temp_data_avg.append(dc_temp_avg, ignore_index = True)

In [112]:
alas_temp = pd.read_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/alaska.xlsx')

In [113]:
alas_temp['year_month'] = alas_temp['Date'].astype(str)

In [114]:
alas_temp['Year'] = alas_temp['year_month'].str[0:4]
alas_temp['Month'] = alas_temp['year_month'].str[4:6]

In [115]:
alas_temp.drop('Date', axis=1, inplace=True)

In [116]:
alas_temp.drop('year_month', axis=1, inplace=True)

In [117]:
alas_temp['Year'] = dc_temp['Year'].astype(int)

In [118]:
alas_temp['Month'] = dc_temp['Month'].astype(int)

In [119]:
alas_temp.drop( alas_temp[ alas_temp['Year'] < 2000 ].index , inplace=True)

In [120]:
alas_temp.drop( alas_temp[ alas_temp['Year'] > 2018 ].index , inplace=True)

In [121]:
alas_temp = alas_temp.reset_index(drop=True)

In [122]:
alas_temp_1 = alas_temp.groupby(['State', 'Year']).agg({'Value': ['mean']}).reset_index()

In [162]:
alas_temp_3 = alas_temp_1.rename(columns={"Value": "avg_temp"})

In [163]:
avgtemp_3 = avgtemp.append(alas_temp_1, ignore_index = True)

In [166]:
avgtemp_3

       State    Year  avg_temp_mean
0    Alabama  2000.0      63.566667
1    Alabama  2001.0      63.033333
2    Alabama  2002.0      63.575000
3    Alabama  2003.0      62.733333
4    Alabama  2004.0      63.333333
..       ...     ...            ...
945   Alaska  2014.0      24.750000
946   Alaska  2015.0      29.208333
947   Alaska  2016.0      26.941667
948   Alaska  2017.0      27.191667
949   Alaska  2018.0      27.141667

[950 rows x 3 columns]

In [138]:
haw_temp = pd.read_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/newhaw.xlsx')

In [148]:
haw_temp = haw_temp.rename(columns={"avg_temp mean": "avg_temp_mean"})

In [155]:
haw_temp  = haw_temp .iloc[1: , :]

In [156]:
haw_temp

     State    Year avg_temp_mean
1   Hawaii  2000.0          75.6
2   Hawaii  2001.0         75.95
3   Hawaii  2002.0        75.825
4   Hawaii  2003.0        76.425
5   Hawaii  2004.0        76.625
6   Hawaii  2005.0          76.3
7   Hawaii  2006.0         75.85
8   Hawaii  2007.0         76.25
9   Hawaii  2008.0         75.65
10  Hawaii  2009.0        74.975
11  Hawaii  2010.0        75.625
12  Hawaii  2011.0            76
13  Hawaii  2012.0          75.5
14  Hawaii  2013.0        75.775
15  Hawaii  2014.0        76.425
16  Hawaii  2015.0          77.3
17  Hawaii  2016.0        76.775
18  Hawaii  2017.0        76.525
19  Hawaii  2018.0         76.95

In [165]:
avgtemp_3.columns = avgtemp_3.columns.map(lambda c: ('_' if c[1] else '').join(c))

In [167]:
avgtemp_4 = avgtemp_3.append(haw_temp, ignore_index = True)

In [168]:
avgtemp_4 = avgtemp_4.reset_index(drop=True)

In [174]:
avgtemp_4 = avgtemp_4.sort_values(by=['State'], ascending = True)

In [177]:
avgtemp_4 = avgtemp_4.reset_index(drop=True)

In [178]:
avgtemp_4.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/temp_data_avg.xlsx')

In [179]:
merge_file = pd.read_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/alldatamerge.xlsx')

In [180]:
merge_1 =  merge_file.merge(avgtemp_4, how = 'inner', on = ['State', 'Year'])

In [184]:
merge_1['WCI'] = np.where((merge_1['State'] == 'California') & (merge_1['Year'] >= 2013), 1, 0 )

In [187]:
merge_1['Policy'] = np.where((merge_1['RGGI Adopt'] == 1) | (merge_1['WCI'] == 1), 1, 0 )

In [190]:
merge_1.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/data_06_12.xlsx', index = False)