In [1]:
import pandas as pd

In [2]:
personal_income = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/personal income.xls')

In [4]:
income = pd.melt(personal_income, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='personal_income')

In [5]:
income = income.sort_values(by=['State','Year'])

In [7]:
unemp = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/unemployment rate.xlsx')

In [8]:
unemp = pd.melt(unemp, id_vars = ['State'] , value_vars = None, var_name ='Year', value_name ='unemp_rate')

In [9]:
unemp = unemp.sort_values(by=['State','Year'])

In [15]:
unemp['del'] = unemp['Year'].str[0:2]
unemp['year'] = unemp['Year'].str[1:6]

In [16]:
unemp.drop('del', axis=1, inplace=True)

In [18]:
unemp.drop('Year', axis=1, inplace=True)

In [48]:
income['Year'] = income['Year'].astype(int)

In [23]:
unemp = unemp.rename(columns={"year": "Year"})

In [25]:
unemp = unemp.reset_index(drop=True)

In [47]:
unemp['Year'] = unemp['Year'].astype(int)

In [61]:
unemp.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/unemp_rate.xlsx')
income.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/income.xlsx')

In [67]:
data_all = pd.read_excel (r'/Users/sarahsiddiqui/Desktop/classes/529/project/alldatamerge.xlsx')

In [63]:
merge_1 =  income.merge(unemp, how = 'inner', on = ['State', 'Year'])

In [74]:
merge_2 = data_all.merge(merge_1, how = 'inner' , on = ['State' , 'Year'], indicator='True')

,State,Year,Residential CO2 emissions,commercial CO2 emissions,Industrial CO2 emissions,Transport CO2 emissions,Per Capita energy related emissions,Carbon Intensity of energy supply,Carbon emissions adjusted,Carbon Intensity Economy,Population,RGGI Adopt
0,Alabama,2000,3.7,2.3,26.2,33.4,32.097687,58.980063,143.449839,783.255236,4452173,0
1,Alabama,2001,3.5,2.2,22.7,31.3,30.044993,58.595615,134.985163,707.835028,4467634,0
2,Alabama,2002,3.3,2.0,22.4,33.3,31.078369,58.387879,140.003374,709.996611,4480089,0
3,Alabama,2003,3.1,2.1,23.7,32.3,31.146559,58.176501,140.866652,687.646242,4503491,0
4,Alabama,2004,3.0,2.2,24.0,34.8,31.462079,57.504820,143.567133,675.106584,4530729,0
...,...,...,...,...,...,...,...,...,...,...,...,...
964,Wyoming,2014,0.9,1.1,12.0,8.0,112.744258,76.445675,65.724561,1058.772596,582531,0
965,Wyoming,2015,0.8,1.1,10.5,7.6,108.894718,77.261528,63.810667,981.994022,585613,0
966,Wyoming,2016,0.9,1.1,10.7,7.6,104.380515,76.070089,60.965014,1008.689381,584215,0
967,Wyoming,2017,0.9,1.0,12.1,7.6,107.845353,75.180745,62.358653,1061.552122,578931,0
968,Wyoming,2018,1.0,1.0,13.2,7.9,109.913935,75.131093,63.442856,1082.639053,577601,0

In [79]:
merge_1.to_excel(r'/Users/sarahsiddiqui/Desktop/classes/529/project/emp_inc.xlsx')